################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
*.user
obj
bin
TestResults
.vs
/Src/OrzAutoEntity/__entity.xml
